@font-face {
  font-family: "Minecraftia";
  src: url("/Minecraftia-Regular.ttf") format("truetype");
  font-display: block;
}

:root {
  --mc-pixel: 6px;
  --mc-well-diameter: calc(var(--mc-pixel) * 14);
  --mc-palette-radius: calc(var(--mc-pixel) * 4);
  --mc-white: #f9fffe;
  --mc-orange: #f9801d;
  --mc-magenta: #c74ebd;
  --mc-light-blue: #3ab3da;
  --mc-yellow: #fed83d;
  --mc-lime: #80c71f;
  --mc-pink: #f38baa;
  --mc-gray: #474f52;
  --mc-light-gray: #9d9d97;
  --mc-cyan: #169c9c;
  --mc-purple: #8932b8;
  --mc-blue: #3c44aa;
  --mc-brown: #835432;
  --mc-green: #5e7c16;
  --mc-red: #d02e26;
  --mc-black: #1d1d21;

  color: var(--mc-black);
  background: #f0e0ae;
  font-family: "Minecraftia", monospace;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
  background: #f0e0ae;
}

button {
  color: inherit;
  font: inherit;
}

.app {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  width: min(100%, 34rem);
  margin: 0 auto;
  padding: clamp(1.5rem, 5vw, 3rem) 1rem;
}

.title {
  margin: 0;
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.canvas-placeholder {
  width: min(100%, 24rem);
  aspect-ratio: 1;
  background: var(--mc-white);
  box-shadow: 0 0 0 1px rgb(29 29 33 / 12%);
}

.tools {
  display: grid;
  gap: 0.75rem;
  width: max-content;
}

.brushes,
.opacities {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brush {
  display: grid;
  place-items: center;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.125rem;
  border: 0;
  border-radius: 999px;
  background: var(--mc-gray);
  cursor: default;
}

.brush--small {
  font-size: 1.5rem;
}

.brush--medium {
  font-size: 2rem;
}

.brush--large {
  font-size: 2.5rem;
}

.opacity {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0;
  background: var(--mc-red);
  cursor: default;
}

.opacity--half {
  opacity: 0.5;
}

.opacity--quarter {
  opacity: 0.25;
}

.opacity--eighth {
  opacity: 0.125;
}

.palette {
  --palette-corner-radius: var(--mc-palette-radius);

  position: relative;
  display: grid;
  grid-template-columns: repeat(8, var(--mc-well-diameter));
  padding: calc(var(--mc-pixel) * 2);
  background: #7e4328;
  clip-path: polygon(
    var(--palette-corner-radius) 0,
    calc(100% - var(--palette-corner-radius)) 0,
    calc(100% - var(--palette-corner-radius)) var(--mc-pixel),
    calc(100% - calc(var(--mc-pixel) * 2)) var(--mc-pixel),
    calc(100% - calc(var(--mc-pixel) * 2)) calc(var(--mc-pixel) * 2),
    calc(100% - var(--mc-pixel)) calc(var(--mc-pixel) * 2),
    calc(100% - var(--mc-pixel)) var(--palette-corner-radius),
    100% var(--palette-corner-radius),
    100% calc(100% - var(--palette-corner-radius)),
    calc(100% - var(--mc-pixel)) calc(100% - var(--palette-corner-radius)),
    calc(100% - var(--mc-pixel)) calc(100% - calc(var(--mc-pixel) * 2)),
    calc(100% - calc(var(--mc-pixel) * 2)) calc(100% - calc(var(--mc-pixel) *
    2)),
    calc(100% - calc(var(--mc-pixel) * 2)) calc(100% - var(--mc-pixel)),
    calc(100% - var(--palette-corner-radius)) calc(100% - var(--mc-pixel)),
    calc(100% - var(--palette-corner-radius)) 100%,
    var(--palette-corner-radius) 100%,
    var(--palette-corner-radius) calc(100% - var(--mc-pixel)),
    calc(var(--mc-pixel) * 2) calc(100% - var(--mc-pixel)),
    calc(var(--mc-pixel) * 2) calc(100% - calc(var(--mc-pixel) * 2)),
    var(--mc-pixel) calc(100% - calc(var(--mc-pixel) * 2)),
    var(--mc-pixel) calc(100% - var(--palette-corner-radius)),
    0 calc(100% - var(--palette-corner-radius)),
    0 var(--palette-corner-radius),
    var(--mc-pixel) var(--palette-corner-radius),
    var(--mc-pixel) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 2) var(--mc-pixel),
    var(--palette-corner-radius) var(--mc-pixel)
  );
}

.palette::before {
  --palette-corner-radius: calc(var(--mc-pixel) * 3);

  position: absolute;
  inset: var(--mc-pixel);
  z-index: 0;
  background: #d8894a;
  content: "";
  clip-path: polygon(
    var(--palette-corner-radius) 0,
    calc(100% - var(--palette-corner-radius)) 0,
    calc(100% - var(--palette-corner-radius)) var(--mc-pixel),
    calc(100% - calc(var(--mc-pixel) * 2)) var(--mc-pixel),
    calc(100% - calc(var(--mc-pixel) * 2)) calc(var(--mc-pixel) * 2),
    calc(100% - var(--mc-pixel)) calc(var(--mc-pixel) * 2),
    calc(100% - var(--mc-pixel)) var(--palette-corner-radius),
    100% var(--palette-corner-radius),
    100% calc(100% - var(--palette-corner-radius)),
    calc(100% - var(--mc-pixel)) calc(100% - var(--palette-corner-radius)),
    calc(100% - var(--mc-pixel)) calc(100% - calc(var(--mc-pixel) * 2)),
    calc(100% - calc(var(--mc-pixel) * 2)) calc(100% - calc(var(--mc-pixel) *
    2)),
    calc(100% - calc(var(--mc-pixel) * 2)) calc(100% - var(--mc-pixel)),
    calc(100% - var(--palette-corner-radius)) calc(100% - var(--mc-pixel)),
    calc(100% - var(--palette-corner-radius)) 100%,
    var(--palette-corner-radius) 100%,
    var(--palette-corner-radius) calc(100% - var(--mc-pixel)),
    calc(var(--mc-pixel) * 2) calc(100% - var(--mc-pixel)),
    calc(var(--mc-pixel) * 2) calc(100% - calc(var(--mc-pixel) * 2)),
    var(--mc-pixel) calc(100% - calc(var(--mc-pixel) * 2)),
    var(--mc-pixel) calc(100% - var(--palette-corner-radius)),
    0 calc(100% - var(--palette-corner-radius)),
    0 var(--palette-corner-radius),
    var(--mc-pixel) var(--palette-corner-radius),
    var(--mc-pixel) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 2) var(--mc-pixel),
    var(--palette-corner-radius) var(--mc-pixel)
  );
}

.color {
  clip-path: polygon(
    calc(var(--mc-pixel) * 6) 0,
    calc(var(--mc-pixel) * 8) 0,
    calc(var(--mc-pixel) * 8) var(--mc-pixel),
    calc(var(--mc-pixel) * 10) var(--mc-pixel),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 12) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 12) calc(var(--mc-pixel) * 3),
    calc(var(--mc-pixel) * 13) calc(var(--mc-pixel) * 3),
    calc(var(--mc-pixel) * 13) calc(var(--mc-pixel) * 5),
    calc(var(--mc-pixel) * 14) calc(var(--mc-pixel) * 5),
    calc(var(--mc-pixel) * 14) calc(var(--mc-pixel) * 6),
    100% calc(var(--mc-pixel) * 6),
    100% calc(var(--mc-pixel) * 8),
    calc(var(--mc-pixel) * 14) calc(var(--mc-pixel) * 8),
    calc(var(--mc-pixel) * 14) calc(var(--mc-pixel) * 10),
    calc(var(--mc-pixel) * 13) calc(var(--mc-pixel) * 10),
    calc(var(--mc-pixel) * 13) calc(var(--mc-pixel) * 12),
    calc(var(--mc-pixel) * 12) calc(var(--mc-pixel) * 12),
    calc(var(--mc-pixel) * 12) calc(var(--mc-pixel) * 13),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 13),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 14),
    calc(var(--mc-pixel) * 8) calc(var(--mc-pixel) * 14),
    calc(var(--mc-pixel) * 8) 100%,
    calc(var(--mc-pixel) * 6) 100%,
    calc(var(--mc-pixel) * 6) calc(var(--mc-pixel) * 14),
    calc(var(--mc-pixel) * 4) calc(var(--mc-pixel) * 14),
    calc(var(--mc-pixel) * 4) calc(var(--mc-pixel) * 13),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 13),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 12),
    var(--mc-pixel) calc(var(--mc-pixel) * 12),
    var(--mc-pixel) calc(var(--mc-pixel) * 10),
    0 calc(var(--mc-pixel) * 10),
    0 calc(var(--mc-pixel) * 8),
    var(--mc-pixel) calc(var(--mc-pixel) * 8),
    var(--mc-pixel) calc(var(--mc-pixel) * 6),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 6),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 4),
    calc(var(--mc-pixel) * 3) calc(var(--mc-pixel) * 4),
    calc(var(--mc-pixel) * 3) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 4) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 4) var(--mc-pixel),
    calc(var(--mc-pixel) * 6) var(--mc-pixel)
  );
}

.color {
  position: relative;
  z-index: 1;
  width: var(--mc-well-diameter);
  height: var(--mc-well-diameter);
  padding: 0;
  border: 0;
  background: #7e4328;
  cursor: default;
}

.color::after {
  position: absolute;
  inset: var(--mc-pixel);
  background: var(--color);
  content: "";
  clip-path: polygon(
    calc(var(--mc-pixel) * 5) 0,
    calc(var(--mc-pixel) * 7) 0,
    calc(var(--mc-pixel) * 7) var(--mc-pixel),
    calc(var(--mc-pixel) * 9) var(--mc-pixel),
    calc(var(--mc-pixel) * 9) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 4),
    calc(var(--mc-pixel) * 11) calc(var(--mc-pixel) * 4),
    calc(var(--mc-pixel) * 11) calc(var(--mc-pixel) * 5),
    100% calc(var(--mc-pixel) * 5),
    100% calc(var(--mc-pixel) * 7),
    calc(var(--mc-pixel) * 11) calc(var(--mc-pixel) * 7),
    calc(var(--mc-pixel) * 11) calc(var(--mc-pixel) * 9),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 9),
    calc(var(--mc-pixel) * 10) calc(var(--mc-pixel) * 10),
    calc(var(--mc-pixel) * 9) calc(var(--mc-pixel) * 10),
    calc(var(--mc-pixel) * 9) calc(var(--mc-pixel) * 11),
    calc(var(--mc-pixel) * 7) calc(var(--mc-pixel) * 11),
    calc(var(--mc-pixel) * 7) 100%,
    calc(var(--mc-pixel) * 5) 100%,
    calc(var(--mc-pixel) * 5) calc(var(--mc-pixel) * 11),
    calc(var(--mc-pixel) * 3) calc(var(--mc-pixel) * 11),
    calc(var(--mc-pixel) * 3) calc(var(--mc-pixel) * 10),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 10),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 9),
    var(--mc-pixel) calc(var(--mc-pixel) * 9),
    var(--mc-pixel) calc(var(--mc-pixel) * 7),
    0 calc(var(--mc-pixel) * 7),
    0 calc(var(--mc-pixel) * 5),
    var(--mc-pixel) calc(var(--mc-pixel) * 5),
    var(--mc-pixel) calc(var(--mc-pixel) * 3),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 3),
    calc(var(--mc-pixel) * 2) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 3) calc(var(--mc-pixel) * 2),
    calc(var(--mc-pixel) * 3) var(--mc-pixel),
    calc(var(--mc-pixel) * 5) var(--mc-pixel)
  );
}

button:focus-visible {
  outline: 0.1875rem solid var(--mc-black);
  outline-offset: 0.1875rem;
}
